html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.2em;
    color: #FAF9F6;
    background-color: #1C1C1C;
    margin-left: 1em;
    margin-right: 1em;
}

header {
    width: fit-content;
    margin: auto;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

a {
    color: rgb(255, 192, 8, 0.75);
}

a:hover {
    color: rgb(255, 192, 8);
}

footer {
    font-size: 1.5em;
    line-height: 1.2em;
}

footer p {
    width: fit-content;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 3em;
    line-height: 1.2em;
}

ul {
    list-style: none;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
}

.city {
    background-color: rgb(19,25,54, 0.4);
    border-width: 0.2em;
    border-color: rgb(255, 192, 8, 0.75);
    border-style: solid;
    border-radius: 25px;
    color: #FAF9F6;
}

.city__coords {
    display: none;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: normal;
}

.city__data {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    width: 100%;
}

.city__name {
    text-align: center;
}

.city__timezone {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: normal;
    text-align: center;
}

.sun__text {
    text-align: center;
}

.switch {
    width: 100px;
    height: 30px;
    margin: auto;
    position: relative;
    display: inline-block;
    border-radius: 20px;
    vertical-align: middle;
}

.switch__label {
    display: inline-block;
    vertical-align: middle;
}

.switch__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 192, 8, 0.75);
    border-radius: 26px;
}

.switch__slider:before {
    content: "";
    background-color: white;
    position: absolute;
    height: 26px;
    width: 26px;
    border-radius: 100%;
    top: 2px;
    left: 2px;
    transition: left 0.5s ease-in-out;
}

.switch__input {
    opacity: 0;
    height: 0;
    width: 0;
}

.sun__dawn, .sun__solarnoon, .sun__dusk {
    display: none;
}

.switch__input:checked + .switch__slider:before {
    left: 72;
    transition: left 0.5s ease-in-out;
}

.wrapper {
    display: block;
}

.wrapper--subtitle {
    padding: 0;
    width: fit-content;
    margin: auto;
}

.city--selected {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 5;
    margin-bottom: 2em;
}

.city--selected h3 {
    display: inline-block;
}

.city--selected .city__coords::before {
    content: "•";
    margin-right: 0.25em;
    display: inline-block;
}

.city--selected .sun__dawn, .city--selected .sun__solarnoon, .city--selected .sun__dusk {
    display: list-item;
}

.subtitle {
    text-align: center;
}